<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:include="/Shared/_Layout"></th:block>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>DANH SÁCH TÀI KHOẢN KHÁCH HÀNG</h2>
                <hr class="colorgraph" />


                    <div class="col-lg-8" style="margin-top:10px; margin-bottom: 10px">

                        <form th:action="@{/QLKHACH/Index}" method="get"  enctype="multipart/form-data">
                            <label for = "guestname" class="col-sm-4 col-form-label">Tên Khách hàng</label>
                            <input type="text" name = "guestname" id = "guestname" >
                            <button type="submit" style="color: white; background-color:darkblue;">Find</button>
                        </form>
                    </div>

                </div>

                <table class="table">
                    <tr >
                        <th>
                            Tên Khách Hàng
                        </th>
                        <th>
                            Địa Chỉ
                        </th>
                        <th>
                            Số Điện Thoại
                        </th>
                        <th>
                            Avatar
                        </th>

                        <th></th>
                    </tr>


                    <tr th:each="khach: ${KhachList}">
                        <td th:text="${khach.getTenkhachhang()}">

                        </td>
                        <td th:text="${khach.getDiachi()}">

                        </td>
                        <td th:text="${khach.getSdt()}">

                        </td>
                        <td th:text="${khach.getAvatar()}">

                        </td>

                        <td>
                            <form th:action="@{/QLKHACH/Detail/{id}(id = ${khach.getMakhachhang()})}" th:object="${khach}">
                                <button type="submit" style="color: white; background-color: red;">Details</button>
                            </form>

                            <form th:action="@{/QLKHACH/Delete}">
                                <button type="submit" style="color: white; background-color: grey;">Delete</button>
                            </form>

                        </td>
                    </tr>


                </table>
            </div>
        </div>
    </div>

</section>
</body>
</html>