<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"

    >
</head>
<body>
<th:block th:include="/Shared/_Layout"></th:block>
<section id="content">
    <div class="container">

            <div class="col-lg-20">
                <h2>DANH SÁCH TÀI KHOẢN KHÁCH HÀNG</h2>
                <hr class="colorgraph" />


                    <div class="col-lg-8" style="margin-top:10px; margin-bottom: 10px">

                        <form th:action="@{/QLKHACH/Index}" method="get"  enctype="multipart/form-data">
                            <label for = "guestname" class="col-sm-4 col-form-label"></label>
                            <input type="text" name = "guestname" id = "guestname" th:placeholder="${'Tên Khách Hàng'}">
                            <button type="submit" style="color: white; background-color:darkblue;">Find</button>
                        </form>
                    </div>

                </div>

                <table border="1" class="table table-striped table-responsive-md" th:align="center">
                    <tr >
                        <th>
                            Tên Khách Hàng
                        </th>
                        <th>
                            Địa Chỉ
                        </th>
                        <th>
                            Số Điện Thoại
                        </th>
                        <th>
                            Avatar
                        </th>

                        <th></th>
                    </tr>


                    <tr th:each="khach: ${KhachList}">
                        <td th:text="${khach.getTenkhachhang()}">

                        </td>
                        <td th:text="${khach.getDiachi()}">

                        </td>
                        <td th:text="${khach.getSdt()}">

                        </td>
                        <td th:text="${khach.getAvatar()}">

                        </td>

                        <td>
                            <a th:href="@{/QLKHACH/Detail/{id}(id = ${khach.getMakhachhang()})}" class="btn" style="color: white; background-color: red" th:object="${khach}">
                                Details
                            </a>

                            <a th:href="@{/QLKHACH/Delete}" class="btn" style="color: white; background-color: grey;">
                                Delete
                            </a>

                        </td>
                    </tr>


                </table>
            </div>


</section>
</body>
</html>