<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"

    >
</head>
<body>
<h1>CUAHANGBANSACH</h1>
<h2>Chào <th:block th:text="${guest.getTenkhachhang()}"></th:block></h2>
<p>
    Mật Khẩu của quý khách Vừa mới được cập nhật
</p>
<p>
    Nếu quý khách không thực hiện việc này, hãy nhấp vào đường link này để được hỗ trợ
</p>
<hr>
<p>
    Kind Regards,
</p>
<p>
    STL Original Team,
</p>
</body>
</html>