<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    >
</head>
<body>
<th:block th:include="/Shared/_Layout"></th:block>
<section id="content">
    <div class="container">
        <div class="row">
            <form th:action="@{/Identity/Guest/Login}" th:object="${user}" method="post" class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <h2>Login</h2>
                <hr class="colorgraph" />

                <div th:if="${errorMessage != null}" class="alert alert-danger" role="alert">
                    <span th:text="${errorMessage}"></span>
                </div>

                    <div class="form-group">
                        <label for="tendangnhap">Tên Đăng Nhập</label>
                        <input type="text" id="tendangnhap" class="form-control" th:field="*{tendangnhap}" th:placeholder="${'Tên Đăng Nhập'}" style="font-size: 16px; width: 100%; height: 40px;" required>

                    </div>
                    

                    <div class="form-group">
                        <label for="password">Mật Khẩu</label>
                        <input type="password" id="password" class="form-control" th:field="*{matkhau}" th:placeholder="${'Mật Khẩu'}" style="font-size: 16px; width: 100%; height: 40px;" required>

                    </div>

                    <hr class="colorgraph" />
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input id="LoginForm" type="submit" value="Đăng Nhập" class="btn btn-primary btn-block" />
                        </div>

                        <a th:href="@{/Identity/Guest/ChangePassword}" class="btn" style="color: white; background-color: red">
                            Change Password
                        </a>
                        <a th:href="@{/Identity/Guest/NewUser}" class="btn" style="color: white; background-color: darkblue">
                            Register new Account
                        </a>
                    </div>

            </form>
        </div>
    </div>


</section>
</body>
</html>