<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"

    >
</head>
<body>
<h1>CHÀO MỪNG ĐẾN VOI CUAHANGBANSACH</h1>
<h2>Chào mừng <th:block th:text="${guest.getTenkhachhang()}"></th:block> gia nhập CUAHANGBANSACH</h2>
<p>
    Cảm ơn quý khách đã tin tưởng tham gia mua sắm trên trang web của chúng tôi
</p>
<p>
    Chúc quý khách mua sắm vui tươi, hạnh phúc
</p>
<hr>
<p>
    Kind Regards,
</p>
<p>
    CUAHANGBANSACH Team,
</p>
</body>
</html>