<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    >
</head>
<body>
<section id="content">
    <div class="container">
        <div class="row">
            <form th:action="@{/Identity/Admin/ChangePassword}" th:object="${user}" method="post" class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">


                <div class="form-horizontal">
                    <h4>Đổi Mật Khẩu Tài Khoản Nhân Viên</h4>
                    <hr class="colorgraph" />

                    <div class="form-group">

                        <div class="col-md-10">
                            <label for="tendangnhap">Username</label>
                            <input type="text" id="tendangnhap" name = "tendangnhap" class="form-control" th:field="*{tendangnhap}" th:placeholder="${'Username'}">
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-10">
                            <label for="matkhau">Password</label>
                            <input type="password" id="matkhau" class="form-control" th:field="*{matkhau}" th:placeholder="${'Password'}">
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-10">

                            <label for="retypedpass">Retyped Password</label>
                            <input type="password" id="retypedpass" class="form-control" th:field="*{retypedpass}" th:placeholder="${'Retyped Password'}">

                        </div>
                    </div>
                    <hr class="colorgraph"/>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>



</section>
</body>
</html>