<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"

    >
</head>
<body>
<h1>CHÀO MỪNG ĐẾN VOI CUAHANGBANSACH</h1>
<h2>Chào mừng <th:block th:text="${nv.getTennhanvien()}"></th:block> gia nhập đội ngũ nhân viên của CUAHANGBANSACH</h2>
<p>
    Hãy đến Trụ sở chính để được phỏng vấn và lựa chọn công việc phù hợp
</p>
<hr>
<p>
    Kind Regards,
</p>
<p>
    CUAHANGBANSACH Team,
</p>
</body>
</html>