<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    >
</head>
<body>
<th:block th:include="/Shared/_StaffLayout"></th:block>
<section id="content">
    <div class="container">
        <div class="row">
            <form th:action="@{/Identity/Admin/Register}" method="post" th:object="${nv}" enctype="multipart/form-data" class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

                <div class="form-horizontal">
                    <h4>Thêm Nhân Viên</h4>

                    <h5>Tạo tài khoản</h5>
                    <hr class="colorgraph" />

                    <div class="form-group">

                        <label for="tendangnhap">Tên Đăng Nhập</label>
                        <input type="text" id="tendangnhap" class="form-control" th:field="*{tendangnhap}" th:placeholder="${'Tên Đăng Nhập'}">
                    </div>

                    <div class="form-group">


                            <label for="password">Mật Khẩu</label>
                            <input type="password" id="password" class="form-control" th:field="*{matkhau}" th:placeholder="${'Mật Khẩu'}">

                    </div>

                    <hr class="colorgraph" />
                    <h5>Thông tin nhân viên cơ bản</h5>

                    <div class="form-group">


                            <label for="tennhanvien">Mật Khẩu</label>
                            <input type="text" id="tennhanvien" class="form-control" th:field="*{tennhanvien}" th:placeholder="${'Tên nhân viên'}">

                    </div>

                    <div class="form-group">
                        <label for="email">Mật Khẩu</label>
                        <input type="email" id="email" class="form-control" th:field="*{email}" th:placeholder="${'Email'}">
                    </div>

                    <div class="form-group">
                        <label for="image">Choose your avatar</label>
                        <input type="file" class="form-control" name="image" id="image" th:placeholder="${'Choose avatar'}" />

                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>


                <form th:action="@{/Identity/Admin/Login}">
                    <button class="btn btn-primary" type="submit" style="color: white; background-color:darkblue;">Back To Login Form</button>
                </form>

            </form>
        </div>

    </div>
</section>
</body>
</html>