<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"

    >
</head>
<body>
<section id="content">
    <div class="container">
        <div class="row">
            <form th:action="@{/QLSACH/Add}" method="post" th:object="${sach}" enctype="multipart/form-data" class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

                <div class="form-horizontal">
                    <h4>Add Book</h4>
                    <hr class="colorgraph" />


                    <div class="form-group">
                        <div class="col-md-10">
                            <label for = "masach" class="col-sm-4 col-form-label">Mã Sách</label>
                            <div class = "col-sm-8">
                                <input type="text" class="form-control" id="masach" name = "masach" th:field="*{masach}" th:placeholder="${'Mã Sách'}">
                                <p th:if = "${#fields.hasErrors('masach')}" th:errorclass="text-danger"
                                   th:errors="${sach.tensach}"></p>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <label for = "tensach" class="col-sm-4 col-form-label">Tên Sách</label>

                            <input type="text" class="form-control" id="tensach" name = "tensach" th:field="*{tensach}" th:placeholder="${'Tên Sách'}">
                            <p th:if = "${#fields.hasErrors('tensach')}" th:errorclass="text-danger"
                               th:errors="${sach.tensach}"></p>

                        </div>


                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <label for = "soluonghienco" class="col-sm-8 col-form-label">Số Lượng Hện Có</label>

                            <input type="text" class="form-control" id="soluonghienco" name = "soluonghienco" th:field="*{soluonghienco}" th:placeholder="${'Số Lượng Hiện Có'}">
                            <p th:if = "${#fields.hasErrors('soluonghienco')}" th:errorclass="text-danger"
                               th:errors="${sach.soluonghienco}"></p>


                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-10">
                            <label for = "dacdiem" class="col-sm-4 col-form-label">Đặc Điểm</label>

                            <textarea class="form-control" id="dacdiem" name = "dacdiem" th:field="*{dacdiem}" th:placeholder="${'Đặc Điểm'}"></textarea>
                            <p th:if = "${#fields.hasErrors('dacdiem')}" th:errorclass="text-danger"
                               th:errors="${sach.dacdiem}"></p>


                        </div>
                    </div>



                    <div class="form-group">

                        <div class="col-md-10">

                            <label for = "DVT" class="col-sm-4 col-form-label">Đơn Vị Tính</label>

                            <input type="text" class="form-control" id="DVT" name = "DVT" th:field="*{DVT}" th:placeholder="${'Đơn Vị Tính'}">
                            <p th:if = "${#fields.hasErrors('DVT')}" th:errorclass="text-danger"
                               th:errors="${sach.DVT}"></p>




                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-10">
                            <label for = "dongia" class="col-sm-4 col-form-label">Đơn Giá</label>

                            <input type="text" class="form-control" id="dongia" name = "dongia" th:field="*{dongia}" th:placeholder="${'Đơn Giá'}">
                            <p th:if = "${#fields.hasErrors('dongia')}" th:errorclass="text-danger"
                               th:errors="${sach.dongia}"></p>


                        </div>
                    </div>

                <div class="form-group">

                        <div class="col-md-10">
                            <label for="theloaisach"></label>
                            <select name="theloaisach" class="form-control" th:field="*{theloaisach}" id="theloaisach" th:name="theloaisach" >

                                <option value="0">--Chon the loai--</option>
                                <option th:each="category : ${TLList}"
                                        th:value="${category.matheloai}"
                                        th:text="${category.tentheloai}"
                                ></option>

                            </select>
                        </div>
                </div>

                    <div class="form-group">

                        <div class="col-md-10">
                            <label for="nxb"></label>
                            <select name="nxb" class="form-control" th:field="*{nxb}" id="nxb" th:name="nxb" >

                                <option value="0">--Chon NXB--</option>
                                <option th:each="nxblist : ${NXBList}"
                                        th:value="${nxblist.manxb}"
                                        th:text="${nxblist.tennxb}"
                                ></option>

                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="file" class="form-control" name="image" />

                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>


                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>

            </form>
        </div>

    </div>

</section>


@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
}
</body>
</html>