<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section id="content">

    @using (Html.BeginForm("Delete", "QLSach", FormMethod.Post))
    {
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>SACH</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.masach)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.masach)
                @Html.HiddenFor(model => model.masach)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tensach)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tensach)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.soluonghienco)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.soluonghienco)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.dacdiem)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dacdiem)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.anhsanpham)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.anhsanpham)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DVT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DVT)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.dongia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dongia)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.matheloai)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.matheloai)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.manhanvien)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.manhanvien)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.manxb)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.manxb)
            </dd>

        </dl>



        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
    }
</section>
</body>
</html>