<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>DANH SÁCH SÁCH</h2>
                <hr class="colorgraph" />

                <div class="col-lg-4" style="margin-top:10px; margin-bottom: 10px">

                    <form th:action="@{/QLSACH/Create}">
                        <button type="submit" style="color: white; background-color:green;">Create</button>
                    </form>
                </div>

                <div class="col-lg-8" style="margin-top:10px; margin-bottom: 10px">

                    <form th:action="@{/QLSACH/Index}" method="get"  enctype="multipart/form-data">
                        <label for = "bookname" class="col-sm-4 col-form-label">Tên sách</label>
                        <input type="text" name = "bookname" id = "bookname" >
                        <button type="submit" style="color: white; background-color:darkblue;">Find</button>
                    </form>
                </div>

                <table class="table">
                    <tr>
                        <th>
                            Mã Sách
                        </th>
                        <th>
                            Tên Sách
                        </th>
                        <th>
                            Số Lượng Hiện Có
                        </th>
                        <th>
                            Đặc Điểm
                        </th>
                        <th>
                            Ảnh Sản Phẩm
                        </th>
                        <th>
                            Đơn Vị Tính
                        </th>
                        <th>
                            Đơn Gi
                        </th>
                        <th>
                            Tên Thể Loại
                        </th>

                        <th>
                            Nhà Xuất Bản
                        </th>
                        <th>
                            Tên Nhân Viên
                        </th>
                        <th></th>
                    </tr>


                    <tr th:each="sach: ${SACHList}">
                        <td th:text="${sach.masach}">

                        </td>
                        <td th:text="${sach.tensach}">

                        </td>
                        <td th:text="${sach.soluonghienco}">

                        </td>
                        <td th:text="${sach.dacdiem}">

                        </td>
                        <td >
                            <img th:src="${sach.anhsanpham}" alt="" style="width: 50px" />
                        </td>
                        <td  th:text="${sach.DVT}">

                        </td>
                        <td th:text="${sach.dongia}">

                        </td>
                        <td th:text="${sach.tentheloai}">

                        </td>
                        <td th:text="${sach.tennxb}">

                        </td>
                        <td th:text="${sach.tennhanvien}">

                        </td>
                        <td>

                            <form th:action="@{/QLSACH/Edit/{id}(id = ${sach.masach})}" th:object="${sach}">
                                <button type="submit" style="color: white; background-color:darkblue;">Edit</button>
                            </form>

                            <form th:action="@{/QLSACH/Details/{id}(id = ${sach.masach})}" th:object="${sach}">
                                <button type="submit" style="color: white; background-color: red;">Details</button>
                            </form>

                            <form th:action="@{/QLSACH/Delete/{id}(id = ${sach.masach})}" th:object="${sach}">
                                <button type="submit" style="color: white; background-color: grey;">Delete</button>
                            </form>


                        </td>
                    </tr>


                </table>
            </div>
        </div>
    </div>



</section>
</body>
</html>