<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"

    >
</head>
<body>
<section id="content">
    <div class="container">

            <div class="col-lg-20">
                <h2>DANH SÁCH SÁCH</h2>
                <hr class="colorgraph" />

                <div class="col-lg-4" style="margin-top:10px; margin-bottom: 10px">

                    <form th:action="@{/QLSACH/Create}">
                        <button type="submit" style="color: white; background-color:green;">Create</button>
                    </form>
                </div>

                <div class="col-lg-8" style="margin-top:10px; margin-bottom: 10px">

                    <form th:action="@{/QLSACH/Index}" method="get"  enctype="multipart/form-data">
                        <label for = "bookname" class="col-sm-4 col-form-label"></label>
                        <input type="text" name = "bookname" id = "bookname" th:placeholder="${'Tên Sách'}">
                        <button type="submit" style="color: white; background-color:darkblue;">Find</button>
                    </form>
                </div>

                <table border="1" class="table table-striped table-responsive-md" th:align="center">
                    <tr>
                        <th>
                            Mã Sách
                        </th>
                        <th>
                            Tên Sách
                        </th>
                        <th>
                            Số Lượng Hiện Có
                        </th>
                        <th>
                            Đặc Điểm
                        </th>
                        <th>
                            Ảnh Sản Phẩm
                        </th>
                        <th>
                            Đơn Vị Tính
                        </th>
                        <th>
                            Đơn Gi
                        </th>
                        <th>
                            Tên Thể Loại
                        </th>

                        <th>
                            Nhà Xuất Bản
                        </th>
                        <th>
                            Tên Nhân Viên
                        </th>
                        <th></th>
                    </tr>


                    <tr th:each="sach: ${SACHList}">
                        <td th:text="${sach.masach}">

                        </td>
                        <td th:text="${sach.tensach}">

                        </td>
                        <td th:text="${sach.soluonghienco}">

                        </td>
                        <td th:text="${sach.dacdiem}">

                        </td>
                        <td >
                            <img th:src="${sach.anhsanpham}" alt="" style="width: 50px" />
                        </td>
                        <td  th:text="${sach.DVT}">

                        </td>
                        <td th:text="${sach.dongia}">

                        </td>
                        <td th:text="${sach.tentheloai}">

                        </td>
                        <td th:text="${sach.tennxb}">

                        </td>
                        <td th:text="${sach.tennhanvien}">

                        </td>
                        <td>

                            <a th:href="@{/QLSACH/Edit/{id}(id = ${sach.masach})}" class="btn" style="color: white; background-color: darkblue" th:object="${sach}">
                                Edit
                            </a>

                            <a th:href="@{/QLSACH/Details/{id}(id = ${sach.masach})}" class="btn" style="color: white; background-color: red;" th:object="${sach}">
                                Details
                            </a>

                            <a th:href="@{/QLSACH/Delete/{id}(id = ${sach.masach})}" class="btn" style="color: white; background-color: grey;" th:object="${sach}">
                                Delete
                            </a>


                        </td>
                    </tr>


                </table>
            </div>
        </div>




</section>
</body>
</html>