<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trang login của khách</title>
</head>
<body>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <h2>Login</h2>
                <hr class="colorgraph" />
                <form th:action="@{/Index}" th:object="${user}" method="post">
                    <div class="form-group">
                        <label for="tendangnhap">Tên Đăng Nhập</label>
                        <input type="text" id="tendangnhap" class="form-control" th:field="${tendangnhap}" placeholder="Tên Đăng Nhập">

                    </div>
                    <div th:if="${param.tendangnhap}">
                        <div class="alert alert-info">Wrong Username or Password</div>
                    </div>

                    <div class="form-group">
                        <label for="password">Mật Khẩu</label>
                        <input type="text" id="password" class="form-control" th:field="${password}" placeholder="Mật Khẩu">

                    </div>

                    <hr class="colorgraph" />
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input id="LoginForm" type="submit" value="Đăng Nhập" class="btn btn-primary btn-block" />
                        </div>

                        <div class="col-xs-12 col-md-6">
                            <button ></button>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <p>@Html.ActionLink("Đăng Ký Tài Khoản", "Create", "GUESTLOGIN", new { area = "" }, new { @class = "nav-link" })</p>
                        </div>
                    </div>
                </form>





            </div>
        </div>
    </div>


</section>
</body>
</html>