<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"

    >
</head>
<body>
<th:block th:include="/Shared/_Layout"></th:block>
<section id="content">
    <div class="container">

            <div class="col-lg-12">
                <h2>LỊCH SỬ MUA HÀNG</h2>
                <hr class="colorgraph" />

                <form th:action="@{/ShoppingCart/Create}">
                    <button type="submit" style="color: white; background-color:yellowgreen;">Create</button>
                </form>

                <div class="col-lg-8" style="margin-top:10px; margin-bottom: 10px">

                    <form th:action="@{/ShoppingCart/Index}" method="get"  enctype="multipart/form-data">
                        <label for = "dhid" class="col-sm-4 col-form-label"></label>
                        <input type="text" name = "dhid" id = "dhid" th:placeholder="${'Nhập MDH'}">
                        <button type="submit" style="color: white; background-color:darkblue;">Find</button>
                    </form>
                </div>


                <table border="1" class="table table-striped table-responsive-md" th:align="center" th:if="${SCL}!=null">
                    <tr>
                        <th>Mã Đơn Hàng</th>
                        <th>
                            Ngày Lập
                        </th>
                        <th>
                            Tình Trạng Thanh Toán
                        </th>
                        <th>
                            Tình Trạng
                        </th>
                        <th>
                            Mã Khách Hàng
                        </th>
                        <th></th>
                    </tr>


                    <tr th:each="sc : ${SCL}">
                        <td th:text="${sc.getMaphieumuahang()}"></td>
                        <td th:text="${sc.getNgaylap()}">

                        </td>
                        <td th:text="${sc.getTinhtrangthanhtoan()}">

                        </td>
                        <td th:text="${sc.getTinhtrang()}">

                        </td>
                        <td th:text="${sc.getKhach().getMakhachhang()}">

                        </td>
                        <td>

                            <a th:href="@{/ShoppingCart/Confirm/{id}(id = ${sc.getMaphieumuahang()})}" class="btn" style="color: white; background-color: darkblue" th:object="${sc}">
                                Confirm
                            </a>

                            <a th:href="@{/ShoppingCart/Details/{id}(id = ${sc.getMaphieumuahang()})}" class="btn" style="color: white; background-color:red;" th:object="${sc}">
                                Details

                            </a>

                            <a th:href="@{/ShoppingCart/Delete/{id}(id = ${sc.getMaphieumuahang()})}" class="btn" style="color: white; background-color:grey;" th:object="${sc}">
                                Delete
                            </a>
                        </td>
                    </tr>
                    }

                </table>
                <div class="col-lg-12" th:unless="${SCL}!=null">
                    <h3>Please login or add cart to see your cart</h3>

                </div>
            </div>
        </div>


</section>
</body>
</html>