<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    >
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<th:block th:include="/Shared/_StaffLayout"></th:block>
<section id="content">
    <div class="container">

        <div class="col-lg-20">


            <div class="col-lg-10" style="border: #0D0D0D">
                <form th:action="@{/QLDONHANG/RevenueStatistics/Index}" method="get">


                    <div class="col-md-5">
                        <label for="year">Nam</label>
                        <select name="year" class="form-control" id="year" th:name="year" >

                            <option value="0">--Chọn Năm--</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>

                        </select>
                    </div>
                    <div class="col-md-5">
                        <label for = "monthbegin" class="col-sm-4 col-form-label"></label>
                        <input type="text" name = "monthbegin" id = "monthbegin" th:placeholder="${'Tháng bắt đầu'}">


                        <label for = "monthend" class="col-sm-4 col-form-label"></label>
                        <input type="text" name = "monthend" id = "monthend" th:placeholder="${'Tháng kết thúc'}">

                    </div>

                    <button type="submit" style="color: white; background-color:darkblue;">Find</button>


                </form>

            </div>

            <div th:if="${errorMessage != null}" class="alert alert-danger" role="alert">
                <span th:text="${errorMessage}"></span>
            </div>

            <table border="1" class="table table-striped table-responsive-md" th:align="center">
                <tr>
                    <th>
                        Mã Phiếu Mua Hang
                    </th>
                    <th>
                        Ngày Lập
                    </th>
                    <th>
                        Tình trạng thanh toán
                    </th>
                    <th>
                        Tình trạng
                    </th>
                    <th>
                        Giá trị Dơn Hàng
                    </th>

                </tr>


                <tr th:each="pmh: ${PMH}">
                    <td th:text="${pmh.getMaphieumuahang()}">

                    </td>
                    <td th:text="${pmh.getNgaylap()}">

                    </td>
                    <td th:text="${pmh.getTinhtrangthanhtoan()}">

                    </td>
                    <td th:text="${pmh.getTinhtrang()}">

                    </td>

                    <td  th:text="${pmh.getDHTotal()}">

                    </td>

                </tr>


            </table>

            <hr class="colorgraph" />
            <div class="form-horizontal">
                <h2>Doanh thu: <th:block th:text="${CostTotal}"></th:block></h2>

            </div>

        </div>


    </div>
</section>
</body>
</html>