<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/tab.css}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
<th:block th:include="/Shared/_StaffLayout"></th:block>
<section id="content">
    <div class="container">
        <div class="col-lg-20">
            <div class="panel-heading ">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" data-toggle="tab" role="tab" href="#tab1">Doanh Thu Theo Năm</a></li>
                    <li class="nav-item"><a data-toggle="tab" role="tab" class="nav-link" href="#add-item-tab">Doanh Thu Theo Tháng</a></li>
                    <li class="nav-item"><a data-toggle="tab" role="tab" class="nav-link" href="#add-item-tab2">Doanh Thu Theo Ngày</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div id="tab1" class="tab-pane fade">
                        <div class="tab-block-content ">
                            <div class="row ">
                                <div class="col-sm-12">
                                    <h1>
                                        Tab 1 - Example....
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="add-item-tab" class="tab-pane fade">

                    </div>
                </div>
            </div>
        </div>

        <script>
            if ($('.nav-tabs a')) {
                var url = document.location.toString();
                if (url.match('#')) {
                    $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
                }

                // Change hash for page-reload
                $('.nav-tabs a').on('shown.bs.tab', function(e) {
                    window.location.hash = e.target.hash;
                })
            }
        </script>



        <div class="col-lg-20">
            <div class="col-lg-10">
                <div th:if="${errorMessage != null}" class="alert alert-danger" role="alert">
                    <span th:text="${errorMessage}"></span>
                </div>
                <script type="text/javascript" th:inline="javascript">
                    google.charts.load('current', {'packages':['corechart']});
                    google.charts.setOnLoadCallback(drawChart);

                    function drawChart() {

                        var data = new google.visualization.DataTable();

                        data.addColumn('number', 'Tháng');
                        data.addColumn('number', 'Doanh Thu');

                        // Chuyển đổi dữ liệu JSON thành mảng Google Charts
                        data.addRows([
                            /*[# th:each="row : ${chartData}"]*/
                            [[${row}]],
                            /*[/]*/
                        ]);

                        var options = {
                            title: 'Thống kê doanh thu theo năm 2024',
                            hAxis: {title: 'Thang',  titleTextStyle: {color: '#333'}},
                            vAxis: {minValue: 0}
                        };

                        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
                        chart.draw(data, options);
                    }
                </script>

                <div id="chart_div" style="width: 100%; height: 500px;"></div>
            </div>


            <div class="col-lg-10" style="border: #0D0D0D">
                <form th:action="@{/QLDONHANG/RevenueStatistics/Index}" method="get">


                    <div class="col-md-5">
                        <label for = "monthbegin" class="col-sm-4 col-form-label"></label>
                        <input type="text" name = "monthbegin" id = "monthbegin" th:placeholder="${'Tháng bắt đầu'}">


                        <label for = "monthend" class="col-sm-4 col-form-label"></label>
                        <input type="text" name = "monthend" id = "monthend" th:placeholder="${'Tháng kết thúc'}">

                    </div>

                    <button type="submit" style="color: white; background-color:darkblue;">Find</button>


                </form>

            </div>


            <hr class="colorgraph" />
            <div class="form-horizontal">
                <h2>Doanh thu: <th:block th:text="${CostTotal}"></th:block></h2>

            </div>

        </div>


    </div>
</section>
</body>
</html>