<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section id="content" style="margin-left: 10px; margin-right:10px">
    <div class="col-xs-12">
        <div class="row">
            <h2>Chi tiết thông tin Sách @Model.masach</h2>
            <hr class="colorgraph" />
            <div class="col-lg-4">
                <h3>Ảnh sản phẩm</h3>
                <div class="form-group">
                    @if (!string.IsNullOrEmpty(Model.anhsanpham))
                    {
                    <img src=@Model.anhsanpham style="width: 260px; height: auto;" />
                    }
                    else
                    {
                    <span>Không có ảnh</span>
                    }

                </div>

            </div>

            <div class="col-lg-8">
                <div style="display: -webkit-box; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 2; font-size: 20px; font-weight: 500; line-height: 24px; margin: 0; max-height: 48px; max-width: 665px; overflow: hidden; overflow-wrap: break-word; vertical-align: sub;">
                    <span>
                        @Html.DisplayFor(model => model.tensach)
                    </span>
                </div>

                <div class="row" style="margin-top: 0.625rem; position: relative;">
                    <div class="flex flex-column">Thể Loại: @Html.DisplayFor(model => model.tentheloai)</div>
                    <div class="flex flex-column">Thể Loại: @Html.DisplayFor(model => model.tennxb)</div>
                    <div class="flex flex-column">Số Lượng Hiện có: @Html.DisplayFor(model => model.soluonghienco)</div>
                </div>

                <div style="margin-top:10px">
                    <div class="flex flex-column">
                        <div class="flex flex-column" style="background: #fafafa; padding: 15px 20px;">
                            <section class="flex items-center" aria-live="polite">
                                <div class="flex items-center flex-basis: 625px; flex-wrap: wrap;min-height: 1.875rem;width: 625px;">
                                    <div class="flex items-center">
                                        <div class="color: #ee4d2d;font-size: 30px;font-weight: 500;">
                                            @Html.DisplayFor(model => model.dongia) VND
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

                <div style="margin-top: 1.5625rem;">
                    @Html.DisplayFor(model => model.dacdiem)
                </div>
            </div>

        </div>
        <div class="form-group">
            <input type="button" value="Trở lại shop" onclick="location.href='@Url.Action("Index")'" />
        </div>

    </div>




</section>
</body>
</html>