<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"

    >
</head>
<th:block th:include="/Shared/_Layout :: header"></th:block>
<body>
<marquee style="color: blue;">本店へようこそ</marquee>
<section id="content">

    <div class="container">

        <div class="row">

            <div class="col-lg-4">
                <aside class="left-sidebar">
                    <div class="widget">
                        <form role="form">
                            <div class="form-group">
                                <input type="text" class="form-control" id="s" placeholder="Search.." />
                                <input type="submit" class="form-control" />
                            </div>
                        </form>
                    </div>
                    <div class="widget">
                        <h5 class="widgetheading">Thể loại</h5>
                        <ul class="cat">
                            <th:block th:each="cd : ${listTL}">
                                <li>
                                    <i class="fa fa-angle-right"></i>
                                    <a th:href = "@{/SHOP/Index(MaTL=${cd.matheloai})}" th:text="${cd.getTentheloai()}"></a><span th:text="${'('+cd.getCount()+')'}"></span>

                                </li>
                            </th:block>

                        </ul>
                    </div>

                    <div class="widget">
                        <h5 class="widgetheading">NXB</h5>
                        <ul class="cat">
                            <th:block th:each="nxb : ${listNXB}">
                                <li>
                                    <i class="fa fa-angle-right"></i>
                                    <a th:href = "@{/SHOP/Index_TheoNXB/{MaNXB}(MaNXB=${nxb.manxb})}" th:text="${nxb.getTennxb()}"></a><span th:text="${'('+nxb.getCount()+')'}"></span>

                                </li>
                            </th:block>
                        </ul>
                    </div>

                    <div class="widget">
                        <h5 class="widgetheading">Popular tags</h5>
                        <ul class="tags">
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Trends</a></li>
                            <li><a href="#">Technology</a></li>
                            <li><a href="#">Internet</a></li>
                            <li><a href="#">Tutorial</a></li>
                            <li><a href="#">Development</a></li>
                        </ul>
                    </div>
                </aside>
            </div>

            <div class="col-lg-8">
                <h2 class="title">Book</h2>
                <hr class="colorgraph" />
                <div class="row2" th:each="hon : ${list}">

                    <div class="col-4">
                        <img th:src="${hon.anhsanpham}" alt="" />
                        <p th:text="${hon.masach}"></p>
                        <h4 th:text="${hon.tensach}"></h4>
                        <h5 th:text="${hon.dongia}"></h5>
                        <h6 th:text="${hon.soluonghienco}"></h6>
                        <!--<button onclick="Lay_Thongtin(${hon.masach})" data-toggle="modal" data-target=".bs-modal-lg_1">Chi tiết</button>-->
                        <form th:action="@{/SHOP/Detail/{id}(id = ${hon.masach})}" th:object="${hon}">
                            <button type="submit" style="color: white; background-color:darkblue;">Details</button>
                        </form>

                        <form th:action="@{/SHOP/Buy/{id}(id = ${hon.masach})}" th:object="${hon}">
                            <button type="submit" style="color: white; background-color:darkblue;">Thêm vào giỏ hàng</button>
                        </form>
                    </div>

                </div>
            </div>

            <div class="modal fade bs-modal-lg_1" tabindex="-1" role="document" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <!-- Header -->
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Thông tin chi tiết</h4>
                        </div>
                        <div class="modal-body">
                            <!-- Body -->
                            <div class="row form-group" id="Body_Modal">
                            </div>
                            <!-- Footer -->
                            <hr />
                            <div class="row form-group">
                                <button class="btn btn-default col-sm-3 col-mod-2 " data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @section scripts{
            <script>
                function Lay_Thongtin(MaSach) {
                    //creating an XHLHttpRequest
                    var xhr = new XMLHttpRequest();
                    //define a callback function
                    var url = '@Url.Action("Detail", "SHOP")';
                    url += '?MaSach=' + MaSach;
                    xhr.open("GET", url, true);
                    //onload property
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState == 4 && xhr.status == 200) {
                            document.getElementById('Body_Modal').innerHTML = xhr.responseText;

                        }
                    }
                    //send request
                    xhr.send();

                }


            </script>
            }


        </div>
    </div>
</section>
</body>
<th:block th:include="/Shared/_Layout :: footer"></th:block>
</html>